body {
  background: #66a9f0;
  background: linear-gradient(to bottom, #9ab9db, #66a9f0);
  font-size: 20px;
  font-family: sans-serif; }
  body .main-container {
    background: #dcd3c7;
    border: 5px solid grey;
    border-radius: 20px;
    margin: 1em 10%;
    padding: 10px 10%; }
    body .main-container .text {
      display: block;
      font-size: 15px;
      margin-top: 2em;
      text-align: center; }
    body .main-container .team {
      background: #b5c8de;
      border: 5px solid grey;
      border-radius: 12px;
      margin: 1em auto; }
      body .main-container .team .name {
        background: #bababa;
        border-bottom: 2px solid grey;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 5px;
        text-align: center; }
      body .main-container .team .container {
        height: 100px; }
        body .main-container .team .container .programmer.fixed {
          margin-top: 10px;
          margin-left: 10px; }
      body .main-container .team .warnings {
        background: #e2b1b1;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid grey;
        padding: 5px;
        text-align: center; }
        body .main-container .team .warnings:not(.trainee-missing):not(.trainee-surplus):not(.lead-missing):not(.lead-surplus) {
          background: #b2e4b1; }
          body .main-container .team .warnings:not(.trainee-missing):not(.trainee-surplus):not(.lead-missing):not(.lead-surplus) .no-warnings {
            display: inline; }
        body .main-container .team .warnings .no-warnings {
          display: none; }
        body .main-container .team .warnings .warning {
          background: #c5aaaa;
          border: 2px solid #a67d7d;
          border-radius: 12px;
          display: none;
          padding: 2px 1em;
          margin: 0 1em;
          text-align: center; }
        body .main-container .team .warnings.lead-missing .warning.lead-missing {
          display: inline; }
        body .main-container .team .warnings.lead-surplus .warning.lead-surplus {
          display: inline; }
        body .main-container .team .warnings.trainee-missing .warning.trainee-missing {
          display: inline; }
        body .main-container .team .warnings.trainee-surplus .warning.trainee-surplus {
          display: inline; }
    body .main-container .programmer {
      background: #f6c684;
      border: 3px solid #a7660c;
      border-radius: 12px;
      float: left;
      padding: 5px; }
      body .main-container .programmer.lead {
        background: #fbe9d0; }
        body .main-container .programmer.lead::after {
          content: ' LEAD';
          color: #777;
          font-size: 10px;
          font-weight: bold;
          margin: 0 auto; }
      body .main-container .programmer.trainee {
        background: #ef9d2a; }
        body .main-container .programmer.trainee::after {
          content: ' TRAINEE';
          color: #777;
          font-size: 10px;
          font-weight: bold;
          margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
