body{
  background: #66a9f0;
  font-size: 36px;
  font-family: sans-serif;
  
  .team{
    background: #b5c8de;
    border: 10px solid grey;
    border-radius: 12px;
    margin: 2em 25%;

    .name{
      background: #bababa;
      border-bottom: 2px solid grey;
      padding: 5px;
      text-align: center;
    }

    .container{
      padding: 0.75em;
    }
  }

  .programmer{
    background: #f6c684;
    border: 3px solid #a7660c;
    border-radius: 12px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
    width: 200px;
    &.lead{
      background: #fbe9d0;
      &::after{
        content: 'LEAD';
        color: #777;
        font-size: 20px;
        font-weight: bold;
        margin: auto auto;
      }
    }
    &.in-training{
      background: #ef9d2a;
    }
  }
}
