body{
  background: #66a9f0;
  font-size: 36px;
  font-family: sans-serif;
  
  .team{
    background: #b5c8de;
    border: 10px solid grey;
    border-radius: 12px;
    margin: 2em 25%;

    .name{
      background: #bababa;
      border-bottom: 2px solid grey;
      padding: 5px;
      text-align: center;
    }

    .container{
      height: 100px;
      padding: 0.75em;
    }

    .warnings{
      &:not(.trainee-missing):not(.trainee-surplus):not(.lead-missing):not(.lead-surplus){
        background: #b2e4b1;
        &::after{ content: 'OK' }
      }
      &.trainee-missing::after{ content: 'Missing trainee' }
      &.trainee-surplus::after{ content: 'Too many trainees' }
      &.lead-missing::after{ content: 'Missing lead' }
      &.lead-surplus::after{ content: 'Too many leads' }

      background: #e2b1b1;
      border-top: 2px solid grey;
      padding: 5px;
      text-align: center;
    }
  }

  .programmer{
    background: #f6c684;
    border: 3px solid #a7660c;
    border-radius: 12px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
    width: 200px;
    &.lead{
      background: #fbe9d0;
      &::after{
        content: 'LEAD';
        color: #777;
        font-size: 20px;
        font-weight: bold;
        margin: auto auto;
      }
    }
    &.trainee{
      background: #ef9d2a;
      &::after{
        content: 'TRAINEE';
        color: #777;
        font-size: 20px;
        font-weight: bold;
        margin: auto auto;
      }
    }
  }
}
